@import '../palette';

#danger-zone {
  text-align: center;
  #danger-button {
    border-color: nth($grays, 7);
    color: nth($grays, 7);
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      color: nth($grays, 4)
    }
  }
}
