@import '../_palette';

body {
  background-color: nth($grays, 8);
}

.wrapper.main {
  background-color: white;
}

footer {
  border-top: 1px solid nth($grays, 7);
  padding-top: 1em;
  padding-bottom: 1em;
  .footer-heading {
    color: nth($grays, 3);
  }
  .license {
    color: nth($grays, 4);
  }
}