.post-list {
  > .post {
    perspective: 2000px;
    position: relative;
    .post-link {
      transform-origin: left center;
      transition: transform 0.5s;
    }
    .post-meta,
    .excerpt {
      opacity: 0;
      transition: opacity 0.5s;
    }
    .image {
      position: relative;
      overflow: hidden;
      background-color: #DDD;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
    &:hover {
      background-color: transparent;
      .post-link {
        transform: rotateY(-10deg);
      }
      .post-meta,
      .excerpt {
        opacity: 1
      }
      .image:after {
        opacity: 0.75;
      }
    }
    h2 {
      padding-top: 20px;
      z-index: 10;
    }
    h2,
    .post-meta,
    .excerpt {
      color: white;
    }
    &.bright {
      h2 {
        color: black;
        transition: color 0.5s;
      }
      &:hover h2 {
        color: white;
      }
      &.gradient {
        .image {
          background: linear-gradient(#DDD, #DDD 30%, transparent);
        }
      }
    }
  }

  h2,
  .excerpt {
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    position: absolute;
    padding-top: 30px;
  }

  .excerpt {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    transform: translateY(-50%);
    text-align: center;
  }
}
