.post-list > .post {
  position: relative;
  .post-meta {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .image {
    position: relative;
    overflow: hidden;
    img {
      transition: transform 1s;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .post-meta,
    .image:after {
      opacity: 0.5;
    }
  }
  h2 {
    z-index: 10;
  }
  h2,
  .post-meta,
  .excerpt {
    color: white;
  }
  &.bright {
    h2,
    .post-meta,
    .excerpt {
      color: black;
    }
  }
}

h2,
.excerpt {
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  position: absolute;
}

.excerpt {
  position: absolute;
  bottom: 0;
}
