@import '../_palette';

nav {
  background-color: white;
  border-bottom-color: nth($grays, 6);
  .pseudo-avatar {
    background-color: rgb(194, 181, 222);
  }
  li {
    a,
    a:hover,
    a:link,
    a:visited {
      color: nth($grays, 6);
      &:hover,
      &.active {
        color: nth($grays, 2);
      }
      &.active {
        border-bottom-color: nth($grays, 2);
      }
    }
  }
}
