@import '../_palette';

nav {
  background-color: white;
  border-bottom-color: nth($grays, 6);
  .site-name {
    color: nth($grays, 4);
  }
  .hamburger-button,
  .hamburger-button:before,
  .hamburger-button:after {
    border-color: nth($grays, 4);
  }
  .pseudo-avatar {
    $color1: rgb(204, 186, 212);
    $color2: rgb(224, 201, 242);
    background-color: $color1;
    background: linear-gradient(160deg, $color2 0%, $color2 50%, $color1 50%);
  }
  li {
    a,
    a:hover,
    a:link,
    a:visited {
      color: nth($grays, 6);
      &:hover,
      &.active {
        color: nth($grays, 2);
      }
      &.active {
        border-bottom-color: $color-highlight;
      }
    }
  }
}
