@import '../_breakpoints';
@import '../_palette';

nav {
  $link_padding: .8em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .container {
    align-items: center;
    display: flex;
  }
  .pseudo-avatar {
    height: 1em;
    opacity: .75;
    padding: 0;
    width: 1em;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0;
    transition: opacity .5s;
  }
  li {
    align-items: center;
    display: flex;
    a {
      display: inline-block;
      padding-bottom: $link_padding;
      padding-top: $link_padding;
    }
    a,
    a:hover,
    a:link,
    a:visited {
      &.active {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        margin-bottom: - 1px;
        padding-bottom: calc(#{$link_padding} - 2px);
      }
    }
  }
  visibility: hidden;
}

@media (max-width: $breakpoint_wide - 1px) {
  nav {
    display: none;
  }
}

@media (min-width: $breakpoint_wide) {
  nav {
    opacity: 0;
    ul {
      opacity: 0;
    }
    &:not(.hidden) {
      opacity: 1;
      visibility: visible;
      ul {
        opacity: 1;
      }
    }
  }
}
