@import '../breakpoints';
@import '../palette';
@import './vars';

nav {
  a,
  a:link,
  a:visited,
  a:hover {
    border-bottom: 0 none;
    text-decoration: none;
  }
}

@media (max-width: $breakpoint-mid - 1px) {
  nav li {
    a,
    a:hover,
    a:link,
    a:visited {
      display: block;
      border-width: 0 5px;
      border-style: solid;
      border-color: transparent;
      &.active {
        border-left-color: $color-highlight;
      }
    }
  }
  nav .section-links li.separator {
    height: 0;
    border-top: 1px solid nth($grays, 7);
  }
}


@media (min-width: $breakpoint-mid) {
  nav li {
    a,
    a:hover,
    a:link,
    a:visited {
      &.active {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        margin-bottom: - 1px;
        padding-bottom: calc(#{$link_padding} - 2px);
      }
    }
  }
  nav .section-links .separator {
    height: 100%;
    display: block;
    padding-top: $link_padding;
    padding-bottom: $link_padding;
    background-color: nth($grays, 7);
    width: 1px;
  }
}
