@import '../_animation';

nav {
  .section-links .pseudo-avatar {
    transition: color $transition_duration_short, transform $transition_duration_short;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  li a {
    transition: color .3s;
  }
  transition: opacity 1s !important;
}