{{ partial "header.html" . }}
<div class="wrapper main">
    <section class="main single" id="projects">
        <div class="container main">
            <div class="content">
                {{ partial "page-heading.html" . }}
                <div class="markdown copy-text">
                    {{ .Content }}
                </div>
            </div>
            <div class="right">
                <a class="button back-button subtle-button" {{ printf "href=%q" ("/#projects" | relLangURL) | safeHTMLAttr }}>
                Back
                </a>
            </div>
        </div>
    </section>
</div>
{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
