@import '../colors';
@import '../layout';
@import '../variables';

.tags {
  .tag, .experience-time {
    font-size: 14px;
    color: #999 !important;
    padding: .3em .6em .35em .6em;
  }
  li {
    position: relative;
  }
  .tag {
    background-color: nth($grays, 7) !important;
    border-radius: 5px;
    color: nth($grays, 3) !important;
  }
  .technologies-stats {
    text-align: right;
    .tag {
      display: inline-block;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    li {
      margin-bottom: 1em;
    }
  }
  li.span-10 .experience-time {
    position: absolute;
  }
}

@media (max-width: $breakpoint_wide - 1px) {
  .tags {
    li.span-9 .experience-time {
      position: absolute;
    }
  }
}

@media (max-width: $breakpoint_mid - 1px) {
  .tags {
    li.span-8 .experience-time {
      position: absolute;
    }
  }
}
