@import '../colors';
@import '../layout';
@import '../palette';
@import '../variables';

.tags {
  li {
    position: relative;
  }
  .technologies-stats {
    text-align: right;
    .experience-time {
      @extend .tag;
    }
    .tag,
    .experience-time {
      color: $color-highlight-dark !important;
    }
    .tag {
      background-color: $color-highlight-lighter !important;
      display: inline-block;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .experience-time {
      background-color: transparent !important;
    }
    li {
      margin-bottom: 1em;
    }
  }
  li.span-10 .experience-time {
    position: absolute;
  }
}

@media (max-width: $breakpoint_wide - 1px) {
  .tags {
    li.span-9 .experience-time {
      position: absolute;
    }
  }
}

@media (max-width: $breakpoint_mid - 1px) {
  .tags {
    li.span-8 .experience-time {
      position: absolute;
    }
  }
}
