// Teaser picture circle clip animation effect on hover
@import '../_animation';

// Only devices that support hover
@media not all and (hover: none) {

  $duration: $transition_duration_extra_long;
  $easing: cubic-bezier(.07, .78, .5, 1);

  .circle-clip-effect {
    .columns,
    .tags {
      transition: transform $duration $easing, text-shadow $duration $easing;
    }
    .heading .lead,
    .content {
      transition: color $duration $easing;
    }
    .heading h3,
    .read-more-link {
      border-bottom-color: transparent;
      transition: color $duration $easing, border-bottom-color $duration $easing;
    }
    .clip-effect {
      transition: -webkit-clip-path $duration $easing, clip-path $duration $easing;
    }
    .read-more-link {
      &:after {
        transition: opacity $duration $easing;
      }
    }
    &:hover .clip-effect {
      -webkit-clip-path: circle(100% at 50% 50%);
      clip-path: circle(100% at 50% 50%) !important;
    }
  }
}
