@import '../_breakpoints';
@import '../_colors';
@import './vars';

body {
  margin: 0;
}

.container {
  margin: auto;
}

section:before {
  content: '';
  display: block;
}

@media (max-width: $breakpoint_mid - 1px) {
  section:before {
    height: 32px;
  }
}
  
@media (min-width: $breakpoint_mid) {
  section:before {
    height: 41px;
  }
}

section h2 {
  margin: 2em 0;
  padding: 0;
}

.section-intro-text {
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  & + .overview .overview-item:first-child:before {
    display: none;
  }
}

section > .graph {
  padding: 0 0 4em 0;
}

.use-case-image {
  margin-top: 7.5em;
  margin-bottom: 1.5em;
}

@media (max-width: $breakpoint_wide - 1px) {
  section {
    padding-bottom: $space-around-container;
  }
  .container {
    padding-left: $space-around-container;
    padding-right: $space-around-container;
    &:before {
      margin-left: - $space-around-container;
      width: calc(100% + #{2*$space-around-container});
    }
  }
}
@media (min-width: $breakpoint_wide) {
  .container {
    max-width: $container-width-wide;
  }
  .copy-text {
    ol,
    ul,
    p {
      max-width: 70%;
      & > img {
        margin-left: 20%;
      }
    }
  }
}

.tag {
  display: inline-block;
}
