.tags {
    .tag {
        background-color: nth($grays, 7);
        border-radius: 5px;
        color: nth($grays, 3);
        font-size: 14px;
        padding: .3em .6em .35em .6em;            
    }
}