$grays: hsl(0, 0, 0),
        rgb(102, 102, 102),
        rgb(146, 146, 146),
        #AAA,
        #BBB,
        rgb(204, 204, 204),
        rgb(232, 232, 232),
        rgb(240, 240, 240);

$palette: hsl(193.2, 80%, 82.7%),
          hsl(85.5, 63.5%, 75.3%),
          hsl(38.7, 80%, 78%),
          hsl(353.4, 58.2%, 78.4%),
          hsl(251.1, 80%, 87.3%),
          hsl(130, 80%, 82%),
          hsl(15, 100%, 80%),
          hsl(200, 100%, 80%);

$color-highlight: dodgerblue;

@function light($color) {
  @return rgba(desaturate($color, 50%), .4);
}
