@import './animation';
@import './palette';

// Use mixins to prevent @extend from generating extra unexpected selectors
// https://csswizardry.com/2014/01/extending-silent-classes-in-sass/

@mixin button {
  border: 0 none;
  border-radius: 4px;
  padding: .6em;
  transition: color $transition_duration_normal, background-color $transition_duration_normal;
  cursor: pointer;
}

.button {
  @include button;
}

.subtle-button,
.subtle-button:link,
a.button.subtle-button,
a.button.subtle-button:link {
  @include button;
  background-color: rgb(240, 240, 240);
  color: nth($grays, 3);
  &:hover {
    background-color: rgb(220, 220, 220);
    color: nth($grays, 2);
  }
  &.back-button {
    padding: .3em .6em .3em 0;
  }
  &.back-button:before {
    content: '〈 ';
  }
  &:not(.back-button):after {
    content: ' ⟩';
  }
}

