// Sort of replicate Bootstrap's column classes
// Note that columns need to be wrapped in parents with `display: flex`,
// like `.columns`.

.columns {
  display: flex;
  flex-direction: row;
}

.col-xs-1 {
  width: 8.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33%;
}
.col-xs-5 {
  width: 41.67%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33%;
}
.col-xs-8 {
  width: percentage(8/12);
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-offset-1 {
  margin-left: 8.33%;
}
.col-xs-offset-2 {
  margin-left: 16.66%;
}
