// Sort of replicate Bootstrap's column classes
// Note that columns need to be wrapped in parents with `display: flex`,
// like `.columns`.

@import './breakpoints';

.columns {
  display: flex;
  flex-direction: row;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    width: percentage($i/12);
  }
  .col-xs-offset-#{$i} {
    margin-left: percentage($i/12);
  }
}

@media (min-width: $breakpoint_mid) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      width: percentage($i/12);
    }
    .col-m-offset-#{$i} {
      margin-left: percentage($i/12);
    }
  }
}
