$monospace-font-stack: 'Ubuntu Mono', 'Menlo', monospace;
$body-font-stack: 'Work Sans', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$heading-font-stack: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
$special-font-stack-1: 'Work Sans', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/work-sans/WorkSans-Regular.otf');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  src: url('/fonts/work-sans/WorkSans-Italic.otf');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: bold;
  src: url('/fonts/work-sans/WorkSans-SemiBold.otf');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/work-sans/WorkSans-SemiBoldItalic.otf');
}

body,
section
{
  font-family: $body-font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

h1 {
  font-family: $special-font-stack-1;
}

h3 {
  font-size: 24px;
}

.small {
  font-size: 70%;
}