$monospace-font-stack: 'Ubuntu Mono', 'Menlo', monospace;
$body-font-stack: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$heading-font-stack: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
$special-font-stack-1: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;

body,
section
{
  font-family: $body-font-stack;
}

.small {
  font-size: 70%;
}