@import './button';
@import './_colors.scss';
@import './_breakpoints.scss';

.main.home {
  padding-top: 4em;
  padding-bottom: 4em;
  .avatar {
    $color1: hsl(230, 35%, 67%);
    $color2: hsl(245, 30%, 80%);
    background-color: $color1;
    background: linear-gradient(100deg, $color1 0%, $color2 100%);
  }
  .markdown blockquote {
    border-left: 0 none;
  }
  section {
    color: nth($grays, 3);
    font-size: 16px;
    font-weight: normal;
    &:not(:first-child):before {
      border-bottom: 1px solid nth($grays, 5);
    }
  }
  ul.inline li {
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: .5em;
    margin-right: 10%;
    &.post-item {
      width: 35%;
    }
    a,
    a:link {
      @include button;
      color: rgba(0, 0, 0, .35);
      display: inline-block;
      transition: background-color 200ms, color 200ms;
      &:hover {
        color: rgba(0, 0, 0, .6);
      }
    }
    &:nth-child(6n+1) {
      a,
      a:link {
        background-color: light(nth($palette, 1))
      }
    }
    &:nth-child(6n+2) {
      a,
      a:link {
        background-color: light(nth($palette, 2))
      }
    }
    &:nth-child(6n+3) {
      a,
      a:link {
        background-color: light(nth($palette, 3))
      }
    }
    &:nth-child(6n+4) {
      a,
      a:link {
        background-color: light(nth($palette, 4))
      }
    }
    &:nth-child(6n+5) {
      a,
      a:link {
        background-color: light(nth($palette, 5))
      }
    }
    &:nth-child(6n) {
      a,
      a:link {
        background-color: light(nth($palette, 6))
      }
    }
  }
  .tags .tag {
    box-sizing: border-box;
  }
}
