@import './_breakpoints.scss';
@import './_palette';
@import './_small_border';

section.intro {
  line-height: 1.5;
  padding-bottom: 5em;
  padding-top: 2em;
}

section.intro h1 {
  color: rgb(111, 56, 148);
  margin-top: 0.25rem;
}

section.intro h3 {
  color: nth($grays, 1);
  margin: 2.5rem 0;
}

.section-intro-text {
  @include smallBorderTop(25%);
  @include smallBorderBottom(100%);
  padding-bottom: 3em;
  text-align: center;
}

section.intro p {
  margin-top: 2em;
  line-height: 1.75;
}

section.intro .calls-to-action {
  margin-top: 4em;
}

section.intro .call-to-action:hover {
  background-color: $color-highlight-lighter;
  border-color: $color-highlight-dark !important;
  color: $color-highlight-dark;
}

.call-to-action.scroll-down .chevron-down {
  margin-top: 1em;
  animation: bounce-vertical 1s ease-in-out infinite;
}

@media (max-width: $breakpoint_wide - 1px) {
  section.intro {
    .avatar {
      margin-bottom: 20px;
    }
    blockquote {
      margin-left: 40px;
      margin-right: 4 0px;
    }
  }
}

@media (max-width: $breakpoint_wide - 1px) {
  .intro {
    text-align: center;
  }
}

@media (max-width: $breakpoint_wide - 1px) {
  .intro {
    .avatar {
      max-width: 138px;
    }
  }
}

@media (min-width: $breakpoint_wide) {
  .intro .profile {
    display: flex;
    align-items: center;
    .avatar {
      margin-right: 6%;
      max-width: 170px;
    }
  }
}

@media (max-width: $breakpoint_wide - 1px) {
  .call-to-action {
    display: block;
    margin-bottom: 1em;
  }
}

@media (min-width: $breakpoint_wide) {
  section.intro .avatar {
    margin-right: 4rem;
  }
  .calls-to-action:not(.single) {
    display: flex;
    justify-content: space-between;
  }
  .calls-to-action.single {
    text-align: center;
    .call-to-action {
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }
  }
}

@keyframes bounce-vertical {
  0%, 100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(4px);
  }
}
