@import './_breakpoints.scss';
@import './_colors';

section.intro {
  padding-bottom: 3em;
}

.section-intro-text {
  border-top: 1px solid nth($grays, 5);
  border-bottom: 1px solid nth($grays, 5);
  padding-bottom: 3em;
  text-align: center;
}

@media (max-width: $breakpoint_wide - 1px) {
  section.intro blockquote {
    margin-left: 10px;
    margin-right: 10px;
  }
}
