@import './_breakpoints';
@import './_colors';
@import './_variables.scss';

body {
  margin: 0;
}

.container {
  margin: auto;
}

section:before {
  content: '';
  display: block;
  height: 40px;
}

section h2 {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.section-intro-text {
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  & + .overview .overview-item:first-child:before {
    display: none;
  }
}

section > .graph {
  padding: 4em 0;
}

.use-case-image {
  margin-top: 7.5em;
  margin-bottom: 1.5em;
}

@media (max-width: $breakpoint_wide - 1px) {
  $space-around: 34px;
  section {
    padding-top: $space-around;
    padding-bottom: $space-around;
    &:before {
      margin-left: - $space-around;
      width: calc(100% + #{2*$space-around});
    }
  }
  .container {
    padding-left: $space-around;
    padding-right: $space-around;
  }
}
@media (min-width: $breakpoint_wide) {
  .container {
    max-width: $container-width-wide;
  }
  .copy-text {
    ol,
    ul,
    p {
      max-width: 70%;
      & > img {
        margin-left: 20%;
      }
    }
  }
}

.tag {
  display: inline-block;
}
