@import './colors';

a,
a:hover,
a:link,
a:visited {
  color: nth($grays, 2);
  text-decoration: none;
}

.copy-text {
  a:hover,
  a:link,
  a:visited {
    border-bottom: 1px dashed nth($grays, 5);
    &:hover {
      border-bottom: 1px solid nth($grays, 2);
    }
  }
}
