@import './avatar.scss';
@import './bar-graph.scss';
@import './button.scss';
@import './enrollments';
@import './fonts.scss';
@import './footer.scss';
@import './link';
@import './layout.scss';
@import './home.scss';
@import './nav.scss';
@import './overview.scss';
@import './single.scss';

ul {
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  color: nth($grays, 2);
  font-size: 22px;
  font-weight: 100;
}

img {
  max-width: 100%;
}

.main.container {
  .avatar {
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  ul.inline {
    font-size: 0;
  }
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.bottom {
  bottom: 0;
  width: 100%;
  .button {
    display: inline-block;
    font-size: 60px;
    padding-bottom: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

.right {
  text-align: right;
  width: 100%;
}

.overview-item {
  a:hover h3 {
    border-bottom: 1px solid nth($grays, 2);
    display: inline-block;
    margin-bottom: calc(.2em - 1px);
  }
}
