@import './physics/physics';
@import './avatar.scss';
@import './bar-graph/bar-graph.scss';
@import './button.scss';
@import './call-to-action/call-to-action';
@import './danger-zone/danger-zone';
@import './enrollments';
@import './fonts.scss';
@import './footer/footer';
@import './icons/icons';
@import './image-comment/image-comment';
@import './intro';
@import './lightbox/lightbox';
@import './link/link';
@import './list';
@import './layout.scss';
@import './home.scss';
@import './meta.scss';
@import './nav/nav';
@import './overview.scss';
@import './resets';
@import './single.scss';
@import './social_media/social_media';
@import './_small_border.scss';
@import './type.scss';

html {
  scroll-behavior: smooth;
}

.main.container {
  .avatar {
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  ul.inline {
    font-size: 0;
  }
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.bottom {
  bottom: 0;
  width: 100%;
  .button {
    display: inline-block;
    font-size: 60px;
    padding-bottom: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

.right {
  text-align: right;
  width: 100%;
}
