@import './clip-effect/clip-effect';
@import './_palette';
@import './_small_border';

.overview-item {
  position: relative;
  h3 {
    border-bottom: 1px solid transparent;
    margin-bottom: .2em;
    padding-bottom: .1em;
    display: inline-block;
  }
  .lead {
    color: nth($grays, 5);
    margin-top: 0;
  }
  @include smallBorderTop(25%);
  padding-top: 40px;
  padding-bottom: 40px;
  .content {
    color: nth($grays, 3);
    line-height: 1.5em;
    em {
      color: nth($grays, 2);
      font-style: normal;
    }
  }
  .clip-effect {
    -webkit-clip-path: circle(5% at 83% 80px);
    clip-path: circle(5% at 83% 80px);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(240deg, rgb(160, 200, 210), rgb(103, 103, 103) 80%);
  }
  .teaser-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .tags {
    opacity: .75;
    padding-top: .85em;
    padding-bottom: .85em;
    .tag {
      margin-top: .15em;
      margin-bottom: .15em;
    }
  }
  .columns {
    position: relative;
  }
}

.overview-item {
  a:hover h3 {
    border-color: white;
  }
}

.overview.spaced {
  .overview-item {
    h3 {
      margin-bottom: 2em;
    }
  }
}
