@import '_palette';

.main.single {
  padding: 0 0 4em;
  .content + * {
    margin-top: 3em;
  }
  h1 {
    margin-bottom: .5rem;
  }
  .page-heading {
    margin-bottom: 2.5rem;
  }
  .original-published-line {
    margin-top: .5rem;
    font-style: italic;
  }
  .original-published-line-text {
    color: nth($grays, 5);
  }
  .meta.date {
    font-size: 22px;
  }
}
