@import '../columns';
@import '../breakpoints';

.social-media-list {
  margin-top: 0;
  padding-top: 3.5em;
  li {
    margin-bottom: 3em;
    @extend .columns;
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }
  .sm-name {
    @extend .col-xs-3;
    @extend .col-m-5;
    padding-right: 2em;
    text-align: right;
  }
  .sm-link {
    @extend .col-xs-9;
    @extend .col-m-7;
  }
  .username {
    border-bottom: 0 none;
    &:hover {
      text-decoration: underline;
    }
  }
}
