<h2 class="page-heading">
    Academic Background
</h2>
<div class="project">
    <div class="heading">
        <h3>Formal Education</h3>
    </div>
    <ul class="enrollments">
        <li>
            <div class="row inline">
                <div class="course-year">2004-2009</div>
                <div class="course-title">Fine Arts</div>
                <div class="course-duration"></div>
                <div class="course-author"><b>Universitat de Barcelona</b></div>
            </div>
        </li>
        <li>
            <div class="row inline">
                <div class="course-year">2001-2004</div>
                <div class="course-title">Computer Science</div>
                <div class="course-author"><b>Universitat Politècnica de Catalunya</b></div>
            </div>
            <div class="course-details">
                <div class="course-duration">(unfinished)</div>
            </div>
        </li>
    </ul>
</div>

<div class="project">
    <div class="heading">
        <h3>Online Courses</h3>
    </div>
    <ul class="enrollments">
        <li>
            <div class="row">
                <div class="course-year">2016 - 2017</div>
                <div class="course-title">Interactive 3D Graphics</div>
            </div>
            <div class="course-details">
                <div class="course-duration">2 months</div>
                <div class="course-author">by <b>Autodesk</b> at Udacity</div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="course-year">2015</div>
                <div class="course-title">Browser Rendering Optimization</div>
            </div>
            <div class="course-details">
                <div class="course-duration">1 month</div>
                <div class="course-author">by <b>Google</b> at Udacity</div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="course-year">2014</div>
                <div class="course-title">Interactive Computer Graphics</div>
            </div>
            <div class="course-details">
                <div class="course-duration">1 month</div>
                <div class="course-author">by <b>University of Tokyo</b> at Coursera</div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="course-year">2014</div>
                <div class="course-title">Introduction to Computational Arts: Processing</div>
            </div>
            <div class="course-details">
                <div class="course-duration">15 hours</div>
                <div class="course-author">by <b>Stony Brook University</b> at Coursera</div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="course-year">2013</div>
                <div class="course-title">Creative Programming for Multimedia and Mobile Apps</div>
            </div>
            <div class="course-details">
                <div class="course-duration">45 hours</div>
                <div class="course-author">by <b>University of London</b> at Coursera</div>
            </div>
        </li>
    </ul>
</div>
