<h2>
    Contact
</h2>

<div class="overview">

    <ul class="social-media-list">

        <li>
            <span class="sm-name">E-mail</span>
            <div class="sm-link">
                <i class="far fa-envelope-open"></i>
                <a href="mailto:joan@perals.xyz" class="username">
                    joan@perals.xyz
                </a>
            </div>
        </li>

        {{ if .Site.Params.linkedin_url }}
        <li>
            <span class="sm-name">Linkedin</span>
            <div class="sm-link">
                <i class="fab fa-linkedin-in"></i>
                <a {{ printf "href=%q" .Site.Params.linkedin_url | safeHTMLAttr }} class="username">
                    joanperalstresserra
                </a>
            </div>
        </li>
        {{ end }}

        <li>
            <span class="sm-name">Twitter</span>
            <div class="sm-link">
                <i class="fab fa-twitter"></i>
                <a href="https://www.twitter.com/joanperals" class="username">
                joanperals
                </a>
            </div>
        </li>

    </ul>

</div>
