<div class="profile">
{{ if .Content }}
{{ if .Site.Params.gravatar }}
<img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50"
     rcset="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100 2x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=150 3x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=200 4x">
{{ else if .Site.Params.avatar }}
{{ $.Scratch.Add "srcset" (slice (printf "%s 1x" (.Site.Params.avatar|absURL))) }}
{{ $directory := replaceRE "^(.*)/[^/]+$" "$1" .Site.Params.avatar }}
{{ $basename := replaceRE "^.*/([^./]+).*$" "$1" .Site.Params.avatar }}
{{ $extension := replaceRE "^.*/[^.]+\\.([^.]+)$" "$1" .Site.Params.avatar }}
{{ range (readDir (printf "static/%s" $directory)) }}
{{ if findRE (printf "^%s-\\d+x\\.%s$" $basename $extension) .Name }}
{{ $.Scratch.Add "srcset" (slice (replaceRE (printf "^(%s)-(\\d+x)\\.(%s)$" $basename $extension) (printf "%s/$1-$2.$3 $2" ($directory|absURL)) .Name)) }}
{{ end }}
{{ end }}
{{ $srcset := delimit ($.Scratch.Get "srcset") "," }}
<img class="avatar" src="/{{ .Site.Params.avatar }}" {{ printf "srcset=%q" $srcset | safeHTMLAttr }}>
{{ end }}
<div class="markdown">
  {{ .Content }}
</div>
{{ end }}
</div>
<div class="calls-to-action">
  <a class="call-to-action" href="/cv-joanperals-2019.04.26_01.pdf">Check my CV</a>
  <a class="call-to-action" href="#projects">See some projects</a>
  <a class="call-to-action" href="#contact">Get in touch</a>
</div>
<div class="calls-to-action single">
  <a class="call-to-action subtle scroll-down" href="#technical-skills">
    <div>
      Or just keep reading
    </div>
    <div class="chevron-down">
      <i class="fas fa-chevron-down"></i>
    </div>
  </a>
</div>
