<div class="jobs">

    <div class="job">
        <div class="heading">
            <h3>Senior Creative Technologist @ IXDS</h3>
            <p class="lead">Berlin, 2012 — present</p>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        Angular
                    </li>
                    <li class="tag">
                        Vue
                    </li>
                    <li class="tag">
                        Django
                    </li>
                    <li class="tag">
                        Gulp
                    </li>
                    <li class="tag">
                        Node
                    </li>
                    <li class="tag">
                        npm
                    </li>
                    <li class="tag">
                        SCSS
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="story">
                <p>Having been involved in a variety of projects at IXDS, my role usually consists of using web
                    technologies to bring design ideas to life, be it end-user <em>web applications</em> or <em>high-fidelity
                        prototypes</em> for any kind of demonstrators, user testing or MVPs.</p>
                <p>Most of the time my work is focus on the frontend side, but sometimes a full stack is involved,
                    usually using either Python or NodeJS in the backend.</p>
                <p>
                    One of the most interesting aspects of my work at IXDS is the close relationship between design and
                    engineering —and one of ist most challenging aspects is the need to work in quick iterations while
                    allowing for long term development at the same time.
                </p>
            </div>
        </div>
    </div>

    <div class="job">
        <div class="heading">
            <h3>Web and Mobile Developer @ Content Mind</h3>
            <p class="lead">Barcelona, 2010 — 2012</p>
        </div>
        <div class="row">
            <div class="story">
                <p>One of my main tasks at Content Mind was to take care of the visual layer of a Plone-based <a
                        href="http://noscuidamos.com">health portal</a>.</p>
                <p>The most fun part was the development of <em>complex web apps</em> such as a <a
                        href="http://noscuidamos.com/dr-quiz">quiz game</a> and a <a
                        href="http://noscuidamos.com/mi-piramide">nutrition tracking app</a>.</p>
            </div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        Git
                    </li>
                    <li class="tag">
                        jQuery
                    </li>
                    <li class="tag">
                        Python
                    </li>
                    <li class="tag">
                        Plone
                    </li>
                    <li class="tag">
                        Django
                    </li>
                    <li class="tag">
                        XSLT
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="job">
        <div class="heading">
            <h3>Web and Mobile Developer @ Linka</h3>
            <p class="lead">Barcelona, 2010</p>
        </div>
        <div class="row">
            <div class="story">
                <p>
                    Basically, I took care of the <em>implementation of page layouts</em> according to PSD-based
                    documents for various clients. Also some minor photo editing.
                </p>
            </div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        HTML
                    </li>
                    <li class="tag">
                        CSS
                    </li>
                    <li class="tag">
                        PHP
                    </li>
                    <li class="tag">
                        SVN
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="job">
        <div class="heading">
            <h3>Web and Software Developer @ Abaden</h3>
            <p class="lead">Barcelona, 2009 — 2010</p>
        </div>
        <div class="row">
            <div class="story">
                <p>I developed various <em>web-based and desktop applications</em> for a dental clinic team to improve
                    their workflows in their daily tasks.</p>
            </div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        OpenOffice addons
                    </li>
                    <li class="tag">
                        Zoho Creator
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="job">
        <div class="heading">
            <h3>Freelancing</h3>
            <p class="lead">Various locations, 2009</p>
        </div>
        <div class="row">
            <div class="story">
                <p>My first paid work as a developer was a <em>Wordpress</em>-based website for a startup. I took care
                    of both design and development and wrote a custom theme from scratch.</p>
            </div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        Wordpress
                    </li>
                    <li class="tag">
                        LAMP
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>