<nav>
    <div class="container">
        <ul class="section-links">
            <li>
                <a href="/#" class="pseudo-avatar avatar" title="Back to the top">
                </a>
            </li>
            <li>
                <a href="/#contact">
                    Contact
                </a>
            </li>
            <li>
                <a href="/#professional-experience">
                    Professional experience
                </a>
            </li>
            <li>
                <a href="/#projects">
                    Side projects
                </a>
            </li>
            <li>
                <a href="/#academic-background">
                    Academic background
                </a>
            </li>
        </ul>
    </div>
</nav>