{{ $currentPage := . }}
<nav class="{{ if eq $currentPage.URL '/' }}hidden{{ end }}">
    <div class="container">
        {{ if .Site.Params.site_name }}
        <a class="nav-sm site-name" href="/">
            {{ .Site.Params.site_name }}
        </a>
        {{ end }}
        <a class="nav-sm menu-link">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="section-links">
            <li>
                <a href="/#intro" title="Home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            {{ range .Site.Menus.main.ByWeight }}
            <li>
                <a href="{{ .URL }}" class="{{ if hasPrefix $currentPage.URL .URL }}active{{ end }}">
                    {{.Name}}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>