<nav>
    <div class="container">
        <ul class="section-links">
            <li>
                <a href="/#" class="pseudo-avatar avatar" title="Back to the top"></a>
            </li>
            <li>
                <a href="#professional-experience">
                    Professional experience
                </a>
            </li>
            <li>
                <a href="#academic-background">
                    Academic background
                </a>
            </li>
            <li>
                <a href="#projects">
                    Projects
                </a>
            </li>
        </ul>
    </div>
</nav>