<div class="page-heading">
  <h1>
    {{ if .Params.heading }}
    {{ .Params.heading | markdownify }}
    {{ else }}
    {{ .Title | markdownify }}
    {{ end }}
  </h1>
  {{ if .Date }}
  <div class="meta date">{{.Date.Format "2006-01-02"}}</div>
  {{ end }}
  {{ if .Params.year }}
  <div class="meta date year">{{ .Params.year }}</div>
  {{ end }}
  {{ if .Params.canonical_url }}
  <div class="meta original-published-line">
    <span class="original-published-line-text">Originally published at </span>
    <a href="{{ .Params.canonical_url }}">{{ .Params.canonical_url }}</a>
  </div>
  {{ end }}
</div>
