<div class="project overview-item circle-clip-effect">
    <a href="{{ .Permalink }}">
        <div class="clip-effect">
            <div class="teaser-pic" {{ printf "style=\"background-image: url(%s)\"" .Params.image | safeHTMLAttr }}></div>
        </div>
        <div class="columns">
            <div class="col-xs-6">
                <div class="heading">
                    <h3>
                        {{ .Params.title }}
                    </h3>
                    <p class="lead">{{ .Params.year }}</p>
                </div>
                <div class="content copy-text">
                    <p class="excerpt">
                        {{ .Params.excerpt }}
                    </p>
                    <p class="read-more-link">
                        Read more
                    </p>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-2">
            </div>
        </div>
        <div class="tags">
            <ul>
                {{ range .Params.tags }}
                <li class="tag">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
    </a>
</div>
