<div class="overview">

    <div class="project overview-item">
        <div class="heading">
            <h3>DoodleScript (2016)</h3>
        </div>
        <div class="columns">
            <div class="story col-xs-6">
                <p>How would computer programming look like if we could reinvent it now from the ground up?</p>
                <p>With this project I wanted to <em>radically question the way we program</em>. Why do we type code at
                    all? Maybe we could just use visual symbols. And then maybe we could even write programs by just
                    doodling manual sketches that the computer would interpret and run for us —after all, computers
                    should be getting smart enough to be able to interpret human language instead of the other way
                    around.</p>
                <p>Together with my colleague Benjamin Skirlo we won the <em>main prize of the Angelhack Berlin 2016
                    hackathon</em> with a proof of concept of this idea.</p>
            </div>
            <div class="col-xs-4 col-xs-offset-2">
                <img src="img/use-case-1.png">
                <div class="padding"></div>
                <img src="img/use-case-2.png">
                <div class="padding"></div>
                <img src="img/use-case-3.png">
                <p class="project-link">https://github.com/turink/app</p>
            </div>
        </div>
        <div class="technologies">
            <ul>
                <li class="tag">
                    Angular 2
                </li>
                <li class="tag">
                    Android
                </li>
                <li class="tag">
                    IoT
                </li>
            </ul>
        </div>

    </div>

    <div class="project overview-item">
        <div class="heading">
            <h3>Garbuix (2014)</h3>
        </div>
        <div class="columns">
            <div class="story col-xs-6">
                <p><i>Garbuix</i> is my Processing-based tool to explore <em>visually interesting behaviours</em> of 2D
                    systems.</p>
                <p>The user can toggle and influence a set of rather simple behavioral and rendering rules applied to a
                    particle system. (For example, attraction/ repulsion, triangulation...)</p>
                <p>It is interesting to see how a small set of rules can produce dramatically different effects on just
                    a set of nodes randomly distributed on a 2D space.</p>
            </div>
            <div class="col-xs-5 col-xs-offset-1">
                <img src="img/garbuix-02.png">
                <img src="img/garbuix-03.png">
                <p class="project-link">https://github.com/jperals/garbuix</p>
            </div>
        </div>
        <div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        Processing
                    </li>
                    <li class="tag">
                        Java
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project overview-item">
        <div class="heading">
            <h3>Big Bother (2014)</h3>
        </div>
        <div class="columns">
            <div class="story col-xs-6">
                <p><i>Big Bother</i> (sic) is a generative sketch that uses computer vision. It features <em>a giant
                    mutant eye</em> that has the ability to grow a new pupil for each moving target it detects (i.e,
                    each person in front of it) and track it individually.</p>
                <p>This piece was played using a huge screen in the center of Madrid as part of MediaLab Prado’s
                    #ProgramaLaPlaza contest in 2014.</p>
            </div>
            <div class="col-xs-6">
                <img src="img/big-bother.png">
            </div>
        </div>
        <div>
            <div class="col-xs-12">
                <p class="project-link">https://player.vimeo.com/video/100365334#t=31m09s</p>
            </div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        Processing
                    </li>
                    <li class="tag">
                        Java
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project overview-item">
        <div class="heading">
            <h3>Terra Cognita (2012-2013)</h3>
        </div>
        <div class="columns">
            <div class="story col-xs-6">
                <p>As I moved to Berlin in 2012, I started tracking my movements and then wrote an OpenFrameworks app
                    that let me <em>visualize my process of getting to know a new place</em>.
                <p>
                    My walkabouts were rendered at high speed mapping the speed to colours, so I could even tell where
                    and when I had been commuting with the train (red), walking (green), taking a tram (purple) or even
                    riding a bike (blue).
                </p>
            </div>
            <div class="col-xs-6">
                <img src="img/terra-cognita.png">
                <p class="project-link">https://github.com/jperals/terra-cognita</p>
            </div>
        </div>
        <div>
            <div class="technologies">
                <ul>
                    <li class="tag">
                        OpenFrameworks
                    </li>
                    <li class="tag">
                        C++
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>