{{ partial "header.html" . }}
<div class="wrapper main">
    <div class="container main home">
        <section class="intro" id="intro">
            {{ partial "intro.html" . }}
        </section>
        <section>
            {{ partial "technologies.html" }}
        </section>
        <section class="row" id="professional-experience">
            {{ partial "professional_experience.html" . }}
        </section>
        <section class="row" id="academic-background">
            {{ partial "academic_background.html" }}
        </section>
        <section id="projects">
            {{ partial "projects.html" . }}
        </section>
        {{ $totalpostscount := len (where .Data.Pages "Section" "") }}
        {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
        {{ if gt $latestpostscount 0 }}
        <section id="thoughts">
            <div class="page-heading">{{ i18n "someThoughtsAbout" }}</div>
            <ul class="inline">
                {{ range (first $latestpostscount ( where .Data.Pages.ByPublishDate.Reverse "Section" "" )) }}
                {{ partial "li.html" . }}
                {{ end }}
                {{ if gt $totalpostscount $latestpostscount }}
                {{ range where .Site.Menus.main "Identifier" "blog" }}
                <li class="post-item no-bullet">
                    <a id="see-more" {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </section>
        {{ end }}
        <section id="contact">
            {{ partial "contact.html" . }}
        </section>
    </div>
</div>
{{ partial "nav.html" . }}
{{ partial "footer.html" . }}