{{ partial "header.html" . }}
<section class="main home">
    <div class="container">
        <div class="content">
            <div class="intro">
                {{ if .Content }}
                {{ if .Site.Params.gravatar }}
                <img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50" rcset="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100 2x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=150 3x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=200 4x">
                {{ else if .Site.Params.avatar }}
                {{ $.Scratch.Add "srcset" (slice (printf "%s 1x" (.Site.Params.avatar|absURL))) }}
                {{ $directory := replaceRE "^(.*)/[^/]+$" "$1" .Site.Params.avatar }}
                {{ $basename := replaceRE "^.*/([^./]+).*$" "$1" .Site.Params.avatar }}
                {{ $extension := replaceRE "^.*/[^.]+\\.([^.]+)$" "$1" .Site.Params.avatar }}
                {{ range (readDir (printf "static/%s" $directory)) }}
                {{ if findRE (printf "^%s-\\d+x\\.%s$" $basename $extension) .Name }}
                {{ $.Scratch.Add "srcset" (slice (replaceRE (printf "^(%s)-(\\d+x)\\.(%s)$" $basename $extension) (printf "%s/$1-$2.$3 $2" ($directory|absURL)) .Name)) }}
                {{ end }}
                {{ end }}
                {{ $srcset := delimit ($.Scratch.Get "srcset") "," }}
                <img class="avatar" src="/{{ .Site.Params.avatar }}" {{ printf "srcset=%q" $srcset | safeHTMLAttr }}>
                {{ end }}
                <div class="markdown">
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
            {{ $totalpostscount := len (.Data.Pages) }}
            {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
            {{ if gt $latestpostscount 0 }}
            <div class="page-heading">{{ i18n "someThoughtsAbout" }}</div>
            <ul class="inline">
                {{ range (first $latestpostscount ( .Data.Pages.ByPublishDate.Reverse )) }}
                {{ partial "li.html" . }}
                {{ end }}
                {{ if gt $totalpostscount $latestpostscount }}
                {{ range where .Site.Menus.main "Identifier" "blog" }}
                <li class="post-item no-bullet">
                    <a id="see-more" {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
            <div class="page-heading">
                <h2 class="text-center">Professional Experience</h2>

                <div class="row graph">
                    <div class="col-xs-12">
                        <div class="technologies">
                            <ul class="technologies-stats">
                                <li>
                                    <span class="experience-time">3.5 years</span><span class="tag" style="min-width:35%">Angular</span>
                                </li>
                                <li>
                                    <span class="experience-time overflows">10 years</span><span class="tag" style="min-width:100%">CSS</span>
                                </li>
                                <li>
                                    <span class="experience-time">1 year</span><span class="tag" style="min-width:10%">Django</span>
                                </li>
                                <li>
                                    <span class="experience-time">1.5 years</span><span class="tag" style="min-width:15%">ES6</span>
                                </li>
                                <li>
                                    <span class="experience-time">8 years</span><span class="tag" style="min-width:80%">Git</span>
                                </li>
                                <li>
                                    <span class="experience-time">2 years</span><span class="tag" style="min-width:20%">Gulp</span>
                                </li>
                                <li>
                                    <span class="experience-time overflows">10 years</span><span class="tag" style="min-width:100%">HTML</span>
                                </li>
                                <li>
                                    <span class="experience-time overflows">10 years</span><span class="tag" style="min-width:100%">JavaScript</span>
                                </li>
                                <li>
                                    <span class="experience-time">4 years</span><span class="tag" style="min-width:40%">Node</span>
                                </li>
                                <li>
                                    <span class="experience-time">5 years</span><span class="tag" style="min-width:50%">Python</span>
                                </li>
                                <li>
                                    <span class="experience-time">1 month</span><span class="tag" style="min-width:1%">React</span>
                                </li>
                                <li>
                                    <span class="experience-time">1 year</span><span class="tag" style="min-width:10%">Redux</span>
                                </li>
                                <li>
                                    <span class="experience-time">5 years</span><span class="tag" style="min-width:50%">SCSS</span>
                                </li>
                                <li>
                                    <span class="experience-time">2 years</span><span class="tag" style="min-width:20%">Vue</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="page-heading">
                {{ i18n "alsoSee" }}
            </div>
                <ul class="inline">
                    <li>
                        {{ if .Site.Params.projects_url }}
                        <a {{ printf "href=%q" .Site.Params.projects_url | safeHTMLAttr }}>{{ i18n "someProjects" }}</a>
                        {{ end }}
                    </li>
                    <li>
                        {{ if .Site.Params.linkedin_url }}
                        <a {{ printf "href=%q" .Site.Params.linkedin_url  | safeHTMLAttr }}>LinkedIn</a>
                        {{ end }}
                    </li>
                </ul>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}