@charset "UTF-8";
.avatar {
  border-radius: 50%;
  background-color: #DDD; }

.section-intro-text {
  color: #AAA;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666; }

.copy-text {
  color: #929292; }

.footer-heading {
  color: #666666; }

.tags .tag, .tags .experience-time {
  font-size: 14px;
  color: #999 !important;
  padding: .3em .6em .35em .6em; }

.tags li {
  position: relative; }

.tags .experience-time.overflows {
  position: absolute; }

.tags .tag {
  background-color: #e8e8e8 !important;
  border-radius: 5px;
  color: #929292 !important; }

.tags .technologies-stats {
  text-align: right; }
  .tags .technologies-stats .tag {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tags .technologies-stats li {
    margin-bottom: 1em; }

.button, .subtle-button,
.subtle-button:link,
a.button.subtle-button,
a.button.subtle-button:link, .main.home ul.inline li a,
.main.home ul.inline li a:link {
  border: 0 none;
  border-radius: 4px;
  padding: .6em;
  transition: color 400ms, background-color 400ms; }

.subtle-button,
.subtle-button:link,
a.subtle-button,
a.subtle-button:link,
a.subtle-button.button,
a.subtle-button.button:link,
.main.home ul.inline li a.subtle-button,
a.subtle-button:link,
a.subtle-button.button:link,
.main.home ul.inline li a.subtle-button:link {
  background-color: #f0f0f0;
  color: #929292; }
  .subtle-button:hover,
  .subtle-button:link:hover,
  a.button.subtle-button:hover,
  a.button.subtle-button:link:hover {
    background-color: gainsboro;
    color: #666666; }
  .subtle-button.back-button,
  .subtle-button:link.back-button,
  a.button.subtle-button.back-button,
  a.button.subtle-button:link.back-button {
    padding: .3em .6em .3em 0; }
  .subtle-button.back-button:before,
  .subtle-button:link.back-button:before,
  a.button.subtle-button.back-button:before,
  a.button.subtle-button:link.back-button:before {
    content: '〈 '; }
  .subtle-button:not(.back-button):after,
  .subtle-button:link:not(.back-button):after,
  a.button.subtle-button:not(.back-button):after,
  a.button.subtle-button:link:not(.back-button):after {
    content: ' ⟩'; }

.section-intro-text {
  color: #AAA;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666; }

.copy-text {
  color: #929292; }

.footer-heading {
  color: #666666; }

.columns, .social-media-list li {
  display: flex;
  flex-direction: row; }

.col-xs-1 {
  width: 8.33%; }

.col-xs-2, .enrollments li .course-year {
  width: 16.66%; }

.col-xs-3, .enrollments li .course-details .course-duration {
  width: 25%; }

.col-xs-4, .enrollments li .row.inline .course-title, .enrollments li .inline.course-details .course-title {
  width: 33.33%; }

.col-xs-5, .social-media-list .sm-name {
  width: 41.67%; }

.col-xs-6, .enrollments li .row.inline .course-author, .enrollments li .inline.course-details .course-author {
  width: 50%; }

.col-xs-7, .enrollments li .course-details .course-author, .social-media-list .username {
  width: 58.33%; }

.col-xs-10, .enrollments li .course-title {
  width: 83.33%; }

.col-xs-offset-1 {
  margin-left: 8.33%; }

.col-xs-offset-2, .enrollments li .course-details .course-duration {
  margin-left: 16.66%; }

.enrollments {
  font-size: 85%; }
  .enrollments li {
    margin-bottom: 1.5em; }
    .enrollments li .row, .enrollments li .course-details {
      display: flex;
      flex-direction: row; }
    .enrollments li .course-year,
    .enrollments li .course-duration,
    .enrollments li .course-author,
    .enrollments li .course-author b {
      color: #BBB !important; }
    .enrollments li .course-year {
      line-height: 20px; }
    .enrollments li .course-author em {
      font-style: normal; }
    .enrollments li .row.inline .course-author em, .enrollments li .inline.course-details .course-author em {
      color: #929292; }
    .enrollments li .course-details {
      margin: .4em 0 2.5em 0; }

body,
section {
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif; }

body {
  background-color: #f0f0f0; }

.wrapper.main {
  background-color: white; }

footer {
  border-top: 1px solid #e8e8e8;
  padding-top: 1em;
  padding-bottom: 1em; }
  footer ul {
    color: #e8e8e8; }

i.fab,
i.far,
i.fas {
  width: 20px; }

section.intro {
  padding-bottom: 5em;
  padding-top: 4em; }

.section-intro-text {
  position: relative;
  position: relative;
  padding-bottom: 3em;
  text-align: center; }
  .section-intro-text:before {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background-color: #dfdfdf !important;
    position: absolute;
    top: 0;
    left: calc((100% - 25%)/2);
    right: calc((100% - 25%)/2); }
  .section-intro-text:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bfbfbf !important;
    position: absolute;
    bottom: 0;
    left: calc((100% - 100%)/2);
    right: calc((100% - 100%)/2); }

@media (max-width: 679px) {
  section.intro blockquote {
    margin-left: 10px;
    margin-right: 10px; } }

a:hover,
a:link,
a:visited {
  color: inherit;
  border-bottom-color: #BBB; }
  a:hover:hover,
  a:link:hover,
  a:visited:hover {
    border-bottom-color: #666666; }

a,
a:hover,
a:link,
a:visited {
  text-decoration: none; }

a,
a:hover,
a:link,
a:visited {
  border-bottom-width: 1px;
  border-bottom-style: dashed; }
  a:hover,
  a:hover:hover,
  a:link:hover,
  a:visited:hover {
    border-bottom-style: solid; }

.content li {
  margin-left: 1em; }
  .content li:before {
    content: '- ';
    display: inline-block;
    margin-left: -1em;
    width: 1em; }

.section-intro-text {
  color: #AAA;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666; }

.copy-text {
  color: #929292; }

.footer-heading {
  color: #666666; }

body {
  margin: 0; }

.container {
  margin: auto; }

section:before {
  content: '';
  display: block;
  height: 40px; }

section h2 {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em; }

.section-intro-text {
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px; }
  .section-intro-text + .overview .overview-item:first-child:before {
    display: none; }

section > .graph {
  padding: 4em 0; }

.use-case-image {
  margin-top: 7.5em;
  margin-bottom: 1.5em; }

@media (max-width: 679px) {
  section {
    padding-bottom: 2em;
    padding-top: 2em; }
  .container {
    padding-left: 2em;
    padding-right: 2em; } }

@media (min-width: 680px) {
  .container {
    max-width: 580px; }
  .copy-text ol,
  .copy-text ul,
  .copy-text p {
    max-width: 70%; }
    .copy-text ol > img,
    .copy-text ul > img,
    .copy-text p > img {
      margin-left: 20%; } }

.tag {
  display: inline-block; }

.section-intro-text {
  color: #AAA;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666; }

.copy-text {
  color: #929292; }

.footer-heading {
  color: #666666; }

.main.home {
  padding-top: 4em;
  padding-bottom: 4em; }
  .main.home .avatar {
    background-color: #eae7f2; }
  .main.home .markdown blockquote {
    border-left: 0 none; }
  .main.home section {
    color: #929292;
    font-size: 17px;
    font-weight: normal; }
    .main.home section:not(:first-child):before {
      border-bottom: 1px solid #BBB; }
  .main.home ul.inline li {
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: .5em;
    margin-right: 10%; }
    .main.home ul.inline li.post-item {
      width: 35%; }
    .main.home ul.inline li a,
    .main.home ul.inline li a:link {
      color: rgba(0, 0, 0, 0.35);
      display: inline-block;
      transition: background-color 200ms, color 200ms; }
      .main.home ul.inline li a:hover,
      .main.home ul.inline li a:link:hover {
        color: rgba(0, 0, 0, 0.6); }
    .main.home ul.inline li:nth-child(6n+1) a,
    .main.home ul.inline li:nth-child(6n+1) a:link {
      background-color: rgba(198, 218, 224, 0.4); }
    .main.home ul.inline li:nth-child(6n+2) a,
    .main.home ul.inline li:nth-child(6n+2) a:link {
      background-color: rgba(193, 201, 184, 0.4); }
    .main.home ul.inline li:nth-child(6n+3) a,
    .main.home ul.inline li:nth-child(6n+3) a:link {
      background-color: rgba(216, 204, 182, 0.4); }
    .main.home ul.inline li:nth-child(6n+4) a,
    .main.home ul.inline li:nth-child(6n+4) a:link {
      background-color: rgba(204, 195, 196, 0.4); }
    .main.home ul.inline li:nth-child(6n+5) a,
    .main.home ul.inline li:nth-child(6n+5) a:link {
      background-color: rgba(216, 213, 232, 0.4); }
    .main.home ul.inline li:nth-child(6n) a,
    .main.home ul.inline li:nth-child(6n) a:link {
      background-color: rgba(195, 223, 200, 0.4); }
  .main.home .tags .tag {
    box-sizing: border-box; }

@media (max-width: 679px) {
  .intro {
    text-align: center; } }

@media (max-width: 679px) {
  .intro .avatar {
    max-width: 138px; } }

@media (min-width: 680px) {
  .intro {
    display: flex;
    align-items: center; }
    .intro .avatar {
      margin-right: 3%;
      max-width: 120px; } }

nav {
  background-color: white;
  border-bottom-color: #cccccc; }
  nav .pseudo-avatar {
    background-color: #c2b5de; }
  nav li a,
  nav li a:hover,
  nav li a:link,
  nav li a:visited {
    color: #cccccc; }
    nav li a:hover, nav li a.active,
    nav li a:hover:hover,
    nav li a:hover.active,
    nav li a:link:hover,
    nav li a:link.active,
    nav li a:visited:hover,
    nav li a:visited.active {
      color: #666666; }
    nav li a.active,
    nav li a:hover.active,
    nav li a:link.active,
    nav li a:visited.active {
      border-bottom-color: #666666; }

nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  visibility: hidden; }
  nav .container {
    align-items: center;
    display: flex; }
  nav .pseudo-avatar {
    height: 1em;
    opacity: .75;
    padding: 0;
    width: 1em; }
    nav .pseudo-avatar:hover {
      opacity: 1;
      transform: scale(1.1); }
  nav ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0;
    transition: opacity .5s; }
  nav li {
    align-items: center;
    display: flex; }
    nav li a {
      display: inline-block;
      padding-bottom: 0.8em;
      padding-top: 0.8em; }
    nav li a.active,
    nav li a:hover.active,
    nav li a:link.active,
    nav li a:visited.active {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      margin-bottom: -1px;
      padding-bottom: calc(0.8em - 1px); }

@media (min-width: 680px) {
  nav ul {
    opacity: 0; }
  nav:not(.hidden) {
    visibility: visible; }
    nav:not(.hidden) ul {
      opacity: 1; } }

nav a,
nav a:link,
nav a:visited,
nav a:hover {
  border-bottom: 0 none;
  text-decoration: none; }

nav .pseudo-avatar {
  transition: color 200ms, transform 200ms; }
  nav .pseudo-avatar:hover {
    opacity: 1;
    transform: scale(1.1); }

nav li a {
  transition: color .3s; }

.overview .overview-item {
  position: relative;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  .overview .overview-item h3 {
    margin-bottom: .2em; }
  .overview .overview-item .lead {
    color: #BBB;
    margin-top: 0; }
  .overview .overview-item:before {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background-color: #dfdfdf !important;
    position: absolute;
    top: 0;
    left: calc((100% - 25%)/2);
    right: calc((100% - 25%)/2); }
  .overview .overview-item .content {
    color: #929292;
    line-height: 1.5em; }
    .overview .overview-item .content em {
      color: #666666;
      font-style: normal; }
  .overview .overview-item .clip-effect {
    -webkit-clip-path: circle(13% at 83% 27%);
    clip-path: circle(13% at 83% 27%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(240deg, #a0c8d2, #676767 80%); }
  .overview .overview-item .teaser-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .overview .overview-item .tags {
    opacity: .75;
    padding-top: .85em;
    padding-bottom: .85em; }
    .overview .overview-item .tags .tag {
      margin-top: .15em;
      margin-bottom: .15em; }
  .overview .overview-item .columns, .overview .overview-item .social-media-list li, .social-media-list .overview .overview-item li {
    position: relative; }

.overview .overview-item.circle-clip-effect .columns, .overview .overview-item.circle-clip-effect .social-media-list li, .social-media-list .overview .overview-item.circle-clip-effect li,
.overview .overview-item.circle-clip-effect .tags {
  transition: transform 600ms, text-shadow 600ms; }

.overview .overview-item.circle-clip-effect .heading h3,
.overview .overview-item.circle-clip-effect .heading .lead,
.overview .overview-item.circle-clip-effect .content {
  transition: color 600ms; }

.overview .overview-item.circle-clip-effect .clip-effect {
  transition: -webkit-clip-path 600ms, clip-path 600ms; }

.overview .overview-item.circle-clip-effect:hover .clip-effect {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%); }

.overview .overview-item.circle-clip-effect:hover .columns, .overview .overview-item.circle-clip-effect:hover .social-media-list li, .social-media-list .overview .overview-item.circle-clip-effect:hover li {
  transform: translateX(20px); }

.overview .overview-item.circle-clip-effect:hover .heading h3,
.overview .overview-item.circle-clip-effect:hover .heading .lead,
.overview .overview-item.circle-clip-effect:hover .content {
  color: white !important; }

.overview .overview-item.circle-clip-effect:hover .columns, .overview .overview-item.circle-clip-effect:hover .social-media-list li, .social-media-list .overview .overview-item.circle-clip-effect:hover li {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }

.overview .overview-item.circle-clip-effect:hover a:hover,
.overview .overview-item.circle-clip-effect:hover a:link:hover,
.overview .overview-item.circle-clip-effect:hover a:visited:hover {
  border-bottom-color: white !important; }

@media (max-width: 679px) {
  .overview .overview-item.circle-clip-effect:hover .tags {
    transform: translateX(20px); } }

@media (min-width: 680px) {
  .overview .overview-item.circle-clip-effect:hover .tags {
    transform: translateX(-20px); } }

.overview-item a:hover h3 {
  border-bottom: 1px solid #666666;
  display: inline-block;
  margin-bottom: calc(.2em - 1px); }

.overview.spaced .overview-item h3 {
  margin-bottom: 2em; }

@media (min-width: 680px) {
  .tags {
    text-align: right; } }

ul {
  padding: 0; }

li {
  list-style: none; }

img {
  max-width: 100%; }

.main.single {
  padding: 0 0 4em; }
  .main.single .content + * {
    margin-top: 3em; }

.social-media-list .sm-name {
  color: #AAA; }

.social-media-list .sm-link i {
  color: #929292; }

.columns, .social-media-list li {
  display: flex;
  flex-direction: row; }

.col-xs-1 {
  width: 8.33%; }

.col-xs-2, .enrollments li .course-year {
  width: 16.66%; }

.col-xs-3, .enrollments li .course-details .course-duration {
  width: 25%; }

.col-xs-4, .enrollments li .row.inline .course-title, .enrollments li .inline.course-details .course-title {
  width: 33.33%; }

.col-xs-5, .social-media-list .sm-name {
  width: 41.67%; }

.col-xs-6, .enrollments li .row.inline .course-author, .enrollments li .inline.course-details .course-author {
  width: 50%; }

.col-xs-7, .enrollments li .course-details .course-author, .social-media-list .username {
  width: 58.33%; }

.col-xs-10, .enrollments li .course-title {
  width: 83.33%; }

.col-xs-offset-1 {
  margin-left: 8.33%; }

.col-xs-offset-2, .enrollments li .course-details .course-duration {
  margin-left: 16.66%; }

.social-media-list {
  margin-top: 0;
  padding-top: 3.5em; }
  .social-media-list li {
    margin-bottom: 3em; }
    .social-media-list li:not(:first-child) {
      margin-top: 1.5em; }
  .social-media-list .sm-name {
    padding-right: 2em;
    text-align: right; }
  .social-media-list .username {
    border-bottom: 0 none; }
    .social-media-list .username:hover {
      text-decoration: underline; }

.social-media-list {
  position: relative; }
  .social-media-list:before {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background-color: #dfdfdf !important;
    position: absolute;
    top: 0;
    left: calc((100% - 25%)/2);
    right: calc((100% - 25%)/2); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

h1 {
  font-size: 42px; }

h2 {
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-size: 22px; }

nav {
  font-size: 14px; }

.social-media-list {
  font-size: 16px; }

.strike-through {
  text-decoration: line-through;
  font-style: italic; }

.main.container .avatar {
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }

.main.container ul.inline {
  font-size: 0; }

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; }

.bottom {
  bottom: 0;
  width: 100%; }
  .bottom .button, .bottom .subtle-button,
  .bottom a.button.subtle-button, .bottom .main.home ul.inline li a, .main.home ul.inline li .bottom a {
    display: inline-block;
    font-size: 60px;
    padding-bottom: 1em; }
    .bottom .button:hover, .bottom .subtle-button:hover,
    .bottom a.button.subtle-button:hover:link, .bottom .main.home ul.inline li a:hover, .main.home ul.inline li .bottom a:hover {
      text-decoration: none; }

.right {
  text-align: right;
  width: 100%; }
