.enlarge,
#lightbox {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
}

body.with-lightbox {
  overflow: hidden;
  & > .footer,
  & > .main,
  & > nav {
    filter: blur(5px);
  }
}
