.enlarge,
#lightbox {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  .lightbox-image {
    $padding: 30px;
    position: absolute;
    left: $padding;
    right: $padding;
    top: $padding;
    bottom: $padding;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  transition: opacity .3s;
  opacity: 0;
}

body.with-lightbox {
  overflow: hidden;
  & > .main {
    overflow-y: scroll;
  }
  & > .footer,
  & > .main,
  & > nav {
    filter: blur(5px);
  }
}
