a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

a,
a:hover,
a:link,
a:visited {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  &:hover {
    border-bottom-style: solid;
  }
}
