@import './read-more-link';
@import '../palette';

%link {
  color: inherit;
  border-bottom-color: nth($grays, 5);
}

p %link {
  color: nth($grays, 2);
}

%link:hover {
  color: $color-highlight-dark;
  border-bottom-color: $color-highlight-dark;
}

%link,
%link:hover,
%link:link,
%link:visited {
  text-decoration: none;
}

%link,
%link:hover,
%link:link,
%link:visited {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  &:hover {
    border-bottom-style: solid;
  }
}

a,
.like-link {
  @extend %link;
}
