---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post{%if post.bright %} bright{%endif%}">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {% assign date_format = site.minima.date_format | default: "%Y" %}
          <h2>
            {{ post.title | escape }}
            <div class="post-meta">{{ post.date | date: date_format }}</div>
          </h2>
          <div class="image">
            <img src="{{ post.image }}">
          </div>
          <p class="excerpt">{{ post.excerpt }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
